@media only screen and (min-width: 320px) and (max-width: 990px) {
	/* === Header Navigation === */
	.navigation{
		padding: 10px 0px;
	}
	.navigation .navbar-light .navbar-toggler{
		color: rgb(255,255,255);
    	border-color:transparent;
    	outline: none;
	}
	.nav-fixed .navbar-light .navbar-toggler{
		color: rgb(0,0,0);
    	border-color:transparent;
    	outline: none;
	}
	.top-nav{
		background: #ffffff;
		border-radius: 4px;
	}
	.top-nav ul li a{
		padding: 8px 15px !important;
		color: #000000;
	}
	.nav-fixed .top-nav ul li a{
		padding: 8px 5px !important;
	}
	.nav-fixed .top-nav ul li a:hover:after{
		border-bottom: 0px;
	}
	.nav-fixed .top-nav ul li a.active:after, .nav-fixed .top-nav ul li a.active:after{
		border-bottom: 0px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

	/* === HERO IMAGE RWD === */
	.hero-inner{
		top:0px;
		position:relative;
		transform:none;
		padding:80px 0px 0px;
		display: -webkit-box;
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-moz-box-orient: vertical;
    	-webkit-flex-direction: column;
    	-ms-flex-direction: column;
    	flex-direction: column;
    	-webkit-box-align: start;
    	-moz-box-align: start;
    	-ms-flex-align: start;
   	 	-webkit-align-items: flex-start;
    	align-items: flex-start;
	}
	.hero-type{
		float:none;
		-webkit-box-ordinal-group: 2;
    	-moz-box-ordinal-group: 2;
    	-ms-flex-order: 2;
    	-webkit-order: 2;
    	order: 2;
	}
	.hero-type h1{
		font-size:20px;
		margin-bottom: 10px;
	}
	.hero-type p{
		font-size:14px;
	}
	.hero-image{
		position:relative;
		max-width: 160px;
		left:0px;
		right:0px;
		top:0px;
		margin:0px auto;
		float:none;
		-webkit-box-ordinal-group: 1;
    	-moz-box-ordinal-group: 1;
    	-ms-flex-order: 1;
    	-webkit-order: 1;
    	order: 1;
	}
	.download-btn{
		bottom:5px;
	}
	/* === HERO IMAGE RWD END === */

	/* === ABOUT US RWD === */
	.about-info h2{
		font-size:28px;
	}
	/* === ABOUT US RWD END === */	
	
	/* === PRICING RWD === */
	.pricing-item{
		padding:30px 20px;
	}
	.pricing-item:before{
		max-width:100%;
		top:0px;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		max-height: 100%;	
	}
	/* === PRICING RWD END === */
	
	/* === FEATURE RWD === */
	.feature-item{
		margin-top:20px;
	}
	/* === FEATURE RWD END === */

	/* === CONTACT RWD === */
	.m-container{
		max-width:1260px;
		width:100%;
		margin-left: auto;
	    margin-right: auto;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	/* === CONTACT RWD END === */

	/* === FOOTER RWD === */
	.address-inner{
		padding:0px 6px;
	}
	.footer-logo{
		text-align: center;
		float: none;
	}
	.copyright{
		text-align: center;
		padding-top:0px; 
	}
	.copyright p{
		letter-spacing: normal;
		font-size: 14px;
	}
	.footer-logo p{
		font-size: 24px;
	}
	/* === FOOTER RWD END === */
}

@media only screen and (min-width: 320px) and (max-width: 480px) 
	and (orientation: portrait) { 
	
	/* == SCREENSHOT === */
	.snap-item:before{
		width: 100%;
		height: 100%;
		box-shadow: 0px 0px 50px rgba(179, 180, 206, 0.25);
	}
	.snap-item .owl-item.active.center img {
	    transform: scale(0.90);
	    -webkit-transform: scale(0.90);
	    -moz-transform: scale(0.90);
	    -ms-transform: scale(0.90);
	}
	/* == SCREENSHOT END === */

	/* === REWVIEW RWD === */
	.snap-review .owl-nav .owl-next{
		right:30%;
	}
	.snap-review .owl-nav .owl-prev{
		left:30%;
	}
	.snap-review .owl-nav .owl-next,
	.snap-review .owl-nav .owl-prev{
		top:100%;
	}
	/* === REWVIEW RWD END === */
}

@media only screen and (min-width: 320px) and (max-width: 480px) 
	and (orientation: landscape) { 
	/* === REWVIEW RWD === */
	.snap-review .owl-nav .owl-next{
		right:36%;
	}
	.snap-review .owl-nav .owl-prev{
		left:36%;
	}
	.snap-review .owl-nav .owl-next,
	.snap-review .owl-nav .owl-prev{
		top:100%;
	}
	/* === REWVIEW RWD END === */	
}

@media only screen and (min-width: 320px) and (max-width: 568px){ 

	/* === PRICING RWD === */
	.pricing-item{
		padding:30px 20px;
	}
	.pricing-item:before{
		max-width:100%;
		top:0px;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		max-height: 100%;	
	}
	/* === PRICING RWD END === */

	/* === FEATURE RWD === */
	.feature-item{
		margin-top:20px;
	}
	/* === FEATURE RWD END === */
	
	/* === CONTACT RWD === */
	.m-container{
		max-width:1260px;
		width:100%;
		margin-left: auto;
	    margin-right: auto;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	/* === CONTACT RWD END === */

	/* === FOOTER RWD === */
	.address-inner{
		padding:0px 6px;
	}
	.footer-logo{
		text-align: center;
		float: none;
	}
	.copyright{
		text-align: center;
		padding-top:0px; 
	}
	.copyright p{
		letter-spacing: normal;
		font-size: 14px;
	}
	.footer-logo p{
		font-size: 24px;
	}
	/* === FOOTER RWD END === */
}

@media only screen and (min-width: 320px) and (max-width: 568px) 
	and (orientation: portrait) { 

	/* === HERO IMAGE RWD === */
	.hero-inner{
		top:0px;
		position:relative;
		transform:none;
		padding:80px 0px 0px;
		display: -webkit-box;
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-moz-box-orient: vertical;
    	-webkit-flex-direction: column;
    	-ms-flex-direction: column;
    	flex-direction: column;
    	-webkit-box-align: start;
    	-moz-box-align: start;
    	-ms-flex-align: start;
   	 	-webkit-align-items: flex-start;
    	align-items: flex-start;
	}
	.hero-type{
		float:none;
		-webkit-box-ordinal-group: 2;
    	-moz-box-ordinal-group: 2;
    	-ms-flex-order: 2;
    	-webkit-order: 2;
    	order: 2;
	}
	.hero-type h1{
		font-size:20px;
		margin-bottom: 10px;
	}
	.hero-type p{
		font-size:14px;
	}
	.hero-image{
		position:relative;
		max-width: 160px;
		left:0px;
		right:0px;
		top:0px;
		margin:0px auto;
		float:none;
		-webkit-box-ordinal-group: 1;
    	-moz-box-ordinal-group: 1;
    	-ms-flex-order: 1;
    	-webkit-order: 1;
    	order: 1;
	}
	.download-btn{
		bottom:5px;
	}
	.download-btn ul li a{
		font-size: 14px;
		padding:7px 22px;
	}
	/* === HERO IMAGE RWD END === */
	
	/* == SCREENSHOT === */
	.snap-item:before{
		width: 100%;
		height: 100%;
		box-shadow: 0px 0px 50px rgba(179, 180, 206, 0.25);
	}
	/* == SCREENSHOT END === */

	/* === REVIEW RWD === */
	.snap-review .owl-nav .owl-next{
		right:30%;
	}
	.snap-review .owl-nav .owl-prev{
		left:30%;
	}
	.snap-review .owl-nav .owl-next,
	.snap-review .owl-nav .owl-prev{
		top:100%;
	}
	/* === REVIEW RWD END === */
}

@media only screen and (min-width: 320px) and (max-width: 568px)
	and (orientation: landscape) {
	
	/* === HERO IMAGE RWD === */
	.hero-inner{
		top:0px;
		position:relative;
		transform:none;
		padding:70px 0px 0px;
		float:left;
		width:100%;
	}
	.hero-type{
		float:left;
		max-width: 360px !important;
		padding-top: 20px;
	}
	.hero-type h1{
		font-size:20px !important;
		margin-bottom: 10px;
	}
	.hero-type p{
		font-size:14px !important;
	}
	.hero-image{
		position:absolute !important;
		max-width: 155px !important;
		right:15px;
		top:70px;
		margin:0px;
		float:right;
	}
	.download-btn{
		bottom:5px;
	}
	.download-btn ul li a{
		font-size: 14px;
		padding:7px 22px;
	}
	/* === SLIDER RWD END === */

	/* === REVIEW RWD === */
	.snap-review .owl-nav .owl-next{
		right:39%;
	}
	.snap-review .owl-nav .owl-prev{
		left:39%;
	}
	.snap-review .owl-nav .owl-next,
	.snap-review .owl-nav .owl-prev{
		top:100%;
	}
	/* === REVIEW RWD END === */

}

@media only screen and (min-width: 375px) and (max-width: 667px){ 

	/* === PRICING RWD === */
	.pricing-item{
		padding:30px 20px;
	}
	.pricing-item:before{
		max-width:100%;
		top:0px;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		max-height: 100%;	
	}
	/* === PRICING RWD END === */

	/* === FEATURE RWD === */
	.feature-item{
		margin-top:20px;
	}
	/* === FEATURE RWD END === */
	
	/* === CONTACT RWD === */
	.m-container{
		max-width:1260px;
		width:100%;
		margin-left: auto;
	    margin-right: auto;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	/* === CONTACT RWD END === */

	/* === FOOTER RWD === */
	.address-inner{
		padding:0px 6px;
	}
	.footer-logo{
		text-align: center;
		float: none;
	}
	.copyright{
		text-align: center;
		padding-top:0px; 
	}
	.copyright p{
		letter-spacing: normal;
		font-size: 14px;
	}
	.footer-logo p{
		font-size: 24px;
	}
	/* === FOOTER RWD END === */
}

@media only screen and (min-width: 375px) and (max-width: 667px){ 
	
	/* === HERO IMAGE RWD === */
	.hero-inner{
		top:0px;
		position:relative;
		transform:none;
		padding:80px 0px 0px;
		display: -webkit-box;
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-moz-box-orient: vertical;
    	-webkit-flex-direction: column;
    	-ms-flex-direction: column;
    	flex-direction: column;
    	-webkit-box-align: start;
    	-moz-box-align: start;
    	-ms-flex-align: start;
   	 	-webkit-align-items: flex-start;
    	align-items: flex-start;
	}
	.hero-type{
		float:none;
		-webkit-box-ordinal-group: 2;
    	-moz-box-ordinal-group: 2;
    	-ms-flex-order: 2;
    	-webkit-order: 2;
    	order: 2;
	}
	.hero-type h1{
		font-size:26px;
		margin-bottom: 10px;
	}
	.hero-type p{
		font-size:16px;
	}
	.hero-image{
		position:relative;
		max-width: 200px;
		left:0px;
		right:0px;
		top:0px;
		margin:0px auto;
		float:none;
		-webkit-box-ordinal-group: 1;
    	-moz-box-ordinal-group: 1;
    	-ms-flex-order: 1;
    	-webkit-order: 1;
    	order: 1;
	}
	.download-btn{
		bottom:5px;
	}
	.download-btn ul li a {
		font-size: 14px;
		padding: 7px 22px;
	}
	/* === HERO IMAGE RWD END === */
	
	/* == SCREENSHOT === */
	.snap-item:before{
		width: 100%;
		height: 100%;
		box-shadow: 0px 0px 50px rgba(179, 180, 206, 0.25);
	}
	/* == SCREENSHOT END === */	

	/* === REVIEW RWD === */
	.snap-review .owl-nav .owl-next{
		right:33%;
	}
	.snap-review .owl-nav .owl-prev{
		left:33%;
	}
	.snap-review .owl-nav .owl-next,
	.snap-review .owl-nav .owl-prev{
		top:100%;
	}
	/* === REVIEW RWD END === */

	/* === FOOTER RWD === */
	.address-inner{
		padding:0px 6px;
	}
	.footer-logo{
		text-align: center;
		float: none;
	}
	.copyright{
		text-align: center;
		padding-top:0px; 
	}
	.copyright p{
		letter-spacing: normal;
		font-size: 14px;
	}
	.footer-logo p{
		font-size: 24px;
	}
	/* === FOOTER RWD END === */
}

@media only screen and (min-width: 375px) and (max-width: 667px) 
  	and (orientation: landscape) { 

  	/* === HERO IMAGE RWD === */
	.hero-inner{
		top:0px;
		position:relative;
		transform:none;
		padding:80px 0px 0px;
		float:left;
		width:100%;
	}
	.hero-type{
		float:left;
		max-width: 400px;
		padding-top: 30px;
	}
	.hero-type h1{
		font-size:20px;
		margin-bottom: 10px;
	}
	.hero-type p{
		font-size:14px;
	}
	.hero-image{
		position:absolute;
		max-width: 155px;
		right:15px;
		top:70px;
		margin:0px;
		float:right;
	}
	.download-btn{
		bottom:5px;
	}
	.download-btn ul li a{
		font-size: 14px;
		padding:7px 22px;
	}
	/* === SLIDER RWD END === */	

  	/* === REVIEW RWD === */
  	.snap-review .owl-nav .owl-next{
		right:39%;
	}
	.snap-review .owl-nav .owl-prev{
		left:39%;
	}
	.snap-review .owl-nav .owl-next,
	.snap-review .owl-nav .owl-prev{
		top:100%;
	}
	/* === REVIEW RWD END === */

}

@media only screen and (min-width: 414px) and (max-width: 736px) { 

	/* === PRICING RWD === */
	.pricing-item{
		padding:30px 20px;
	}
	.pricing-item:before{
		max-width:100%;
		top:0px;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		max-height: 100%;	
	}
	/* === PRICING RWD END === */
	
	/* === CONTACT RWD === */
	.m-container{
		max-width:1260px;
		width:100%;
		margin-left: auto;
	    margin-right: auto;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	/* === CONTACT RWD END === */

	/* === FOOTER RWD === */
	.footer-logo{
		text-align: center;
		float: none;
	}
	.copyright{
		text-align: center;
		padding-top:0px; 
	}
	.copyright p{
		letter-spacing: normal;
		font-size: 14px;
	}
	.footer-logo p{
		font-size: 24px;
	}
	/* === FOOTER RWD END === */

}

@media only screen and (min-width: 414px) and (max-width: 736px) 
  	and (orientation: portrait) { 
	
	/* === HERO IMAGE RWD === */
	.hero-inner{
		top:0px;
		position:relative;
		transform:none;
		padding:80px 0px 0px;
		display: -webkit-box;
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-moz-box-orient: vertical;
    	-webkit-flex-direction: column;
    	-ms-flex-direction: column;
    	flex-direction: column;
    	-webkit-box-align: start;
    	-moz-box-align: start;
    	-ms-flex-align: start;
   	 	-webkit-align-items: flex-start;
    	align-items: flex-start;
	}
	.hero-type{
		float:none;
		-webkit-box-ordinal-group: 2;
    	-moz-box-ordinal-group: 2;
    	-ms-flex-order: 2;
    	-webkit-order: 2;
    	order: 2;
	}
	.hero-type h1{
		font-size:26px;
		margin-bottom: 10px;
	}
	.hero-type p{
		font-size:16px;
	}
	.hero-image{
		position:relative;
		max-width: 240px;
		left:0px;
		right:0px;
		top:0px;
		margin:0px auto;
		float:none;
		-webkit-box-ordinal-group: 1;
    	-moz-box-ordinal-group: 1;
    	-ms-flex-order: 1;
    	-webkit-order: 1;
    	order: 1;
	}
	.download-btn{
		bottom:5px;
	}
	.download-btn ul li a {
		font-size: 14px;
		padding: 7px 22px;
	}
	/* === HERO IMAGE RWD END === */
	
	/* == SCREENSHOT === */
	.snap-item:before{
		width: 100%;
		height: 100%;
		box-shadow: 0px 0px 50px rgba(179, 180, 206, 0.25);
	}
	/* == SCREENSHOT END === */	
	
	/* === REVIEW RWD === */
  	.snap-review .owl-nav .owl-next{
		right:34%;
	}
	.snap-review .owl-nav .owl-prev{
		left:34%;
	}
	.snap-review .owl-nav .owl-next,
	.snap-review .owl-nav .owl-prev{
		top:100%;
	}
	/* === REVIEW RWD END === */
}

@media only screen and (min-width: 414px) and (max-width: 736px) 
  	and (orientation: landscape) { 

  	/* === HERO IMAGE RWD === */
	.hero-inner{
		top:0px;
		position:relative;
		transform:none;
		padding:80px 0px 0px;
		float:left;
		width:100%;
	}
	.hero-type{
		float:left;
		max-width: 400px;
		padding-top: 30px;
	}
	.hero-type h1{
		font-size:30px;
		margin-bottom: 10px;
	}
	.hero-type p{
		font-size:16px;
	}
	.hero-image{
		position:absolute;
		max-width: 205px;
		right:15px;
		top:70px;
		margin:0px;
		float:right;
		left:initial;
	}
	.download-btn{
		bottom:5px;
	}
	.download-btn ul li a{
		font-size: 14px;
		padding:7px 22px;
	}
	/* === SLIDER RWD END === */
	
  	/* === REVIEW RWD === */
  	.snap-review .owl-nav .owl-next{
		right:39%;
	}
	.snap-review .owl-nav .owl-prev{
		left:39%;
	}
	.snap-review .owl-nav .owl-next,
	.snap-review .owl-nav .owl-prev{
		top:100%;
	}
	/* === REVIEW RWD END === */
	

	/* === DOWNLOAD RWD === */
	.addon-download ul li a{
		margin: 5px;
	}
	.download-text p,
	.addon-download ul li a span{
		font-size: 14px;
	}
	/* === DOWNLOAD RWD END === */



}
@media only screen and (min-width: 375px) and (max-width: 812px) 
	and (orientation: landscape) { 
	
 	/* === HERO IMAGE RWD === */
	.hero-inner{
		top:0px;
		position:relative;
		transform:none;
		padding:80px 0px 0px;
		float:left;
		width:100%;
	}
	.hero-type{
		float:left;
		max-width: 400px;
		padding-top: 30px;
	}
	.hero-type h1{
		font-size:30px;
		margin-bottom: 10px;
	}
	.hero-type p{
		font-size:16px;
	}
	.hero-image{
		position:absolute;
		max-width: 205px;
		right:15px;
		top:70px;
		margin:0px;
		float:right;
		left:initial;
	}
	.download-btn{
		bottom:5px;
	}
	.download-btn ul li a{
		font-size: 14px;
		padding:7px 22px;
	}
	/* === SLIDER RWD END === */	
}


@media only screen and (min-width: 768px) and (max-width: 960px) {
	
  	/* === HERO IMAGE RWD === */
	.hero-inner{
		position: absolute;
		text-align: left;
		left: 0%;
		top: 40%;
		transform: translate3d(0%, -40%, 0px);
		z-index: 3;
		max-width: 1200px;
		width: 100%;
		right: 0%;
		margin: 0px auto;
		padding:0px 15px;
	}
	.hero-type{
		float:left;
		max-width: 400px;
		padding-top: 20px;
	}
	.hero-type h1{
		font-size:30px;
		margin-bottom: 40px;
	}
	.hero-type p{
		font-size:18px;
	}
	.hero-image{
		position:absolute;
		max-width: 250px;
		right:15px;
		top:0px;
		margin:0px;
		float:right;
	}
	.download-btn{
		bottom:5px;
	}
	.download-btn ul li a{
		font-size: 14px;
		padding:7px 22px;
	}
	/* === SLIDER RWD END === */

	/* === ABOUT US RWD === */
	.about-info{
		margin-top:0px;
	}
	/* === ABOUT US RWD END === */	

	/* === PRICING RWD === */
	.pricing-item{
		padding:30px 20px;
	}
	.pricing-item:before{
		max-width:100%;
		top:0px;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		max-height: 100%;	
	}
	.pricing-inner{
		padding-left:10px;
	}
	/* === PRICING RWD END === */	
	
	/* === REVIEW RWD === */
	.feedback{
		max-width: 560px;
		width: 100%;
	}
	/* === REVIEW RWD END === */

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	/* === PRICING RWD === */
	.pricing-item{
		padding:30px 20px;
	}
	.pricing-item:before{
		max-width:100%;
		top:0px;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		max-height: 100%;	
	}
	/* === PRICING RWD END === */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) 
	and (orientation: portrait){
  	/* === HERO IMAGE RWD === */
	.hero-inner{
		position: absolute;
		text-align: left;
		left: 0%;
		top: 40%;
		transform: translate3d(0%, -40%, 0px);
		z-index: 3;
		max-width: 1200px;
		width: 100%;
		right: 0%;
		margin: 0px auto;
		padding:0px 15px;
	}
	.hero-type{
		float:left;
		max-width: 450px;
		padding-top: 0px;
	}
	.hero-type h1{
		font-size:40px;
		margin-bottom: 40px;
	}
	.hero-type p{
		font-size:18px;
	}
	.hero-image{
		position:absolute;
		max-width: 390px;
		right:15px;
		top:0px;
		margin:0px;
		float:right;
	}
	.download-btn{
		bottom:0px;
	}
	.download-btn ul li a{
		font-size: 14px;
		padding:7px 22px;
	}
	/* === SLIDER RWD END === */
	
	/* === ABOUT US RWD === */
	.about-info{
		margin-top:0px;
	}
	/* === ABOUT US RWD END === */

	/* === FEATURE RWD === */
	.feature-item{
		margin-top:20px;
	}
	.feature-detail h3{
		font-size:14px;
	}
	.feature-detail p{
		font-size:14px;
	}
	/* === FEATURE RWD END === */

	/* === PRICING RWD === */
	.pricing-item{
		padding:30px 20px;
	}
	.pricing-item:before{
		max-width:100%;
		top:0px;
		left: 0px;
		right: 0px;
		margin: 0px auto;
		max-height: 100%;	
	}
	.pricing-inner{
		padding-left:10px;
	}
	/* === PRICING RWD END === */	
}
